feedparser
pytz
beautifulsoup4
keyvalue_sqlite
python-dateutil
isodate
requests
types-python-dateutil
types-pytz
types-requests
open-webdriver>=1.4.5
filelock
yt-dlp>=2023.3.4
static-ffmpeg
pytest-playwright
ytdlp-brighteon>=2023.10.3
docker-run-cmd>=1.0.5